@import '~bootstrap/scss/bootstrap';

.nav-content {
  margin-left: 15px;
  margin-right: 15px;
}

.synth-container {
  margin: auto;
  width: 400px;
  text-align: center;
}

.slider {
    -webkit-appearance: none;
    width: 250px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

label {
  width: 200px;
}

.sliders {
  display: inline-block;
  height: 200px;
  width: 300px;
  background-color: #eff6ff;
  border: 2px solid black;
  border-radius: 10px;
}

.effects-select {
  width: 150px;
}

.settings {
  display: inline-block;
}

.delete-button {
  margin-top: 10px;
}

.natural {
  text-align: center;
  margin-right: -5px;
  position: relative;
  display: inline-block;
  height: 150px;
  width: 50px;
  border: 2px solid black;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  vertical-align: bottom;
}

.natural p {
  margin-top: 120px;
}

.sharp {
  text-align: center;
  margin-right: -5px;
  display: flex;
  position: absolute;
  margin-left: -15px;
  z-index: 10;
  display: inline-block;
  height: 110px;
  width: 30px;
  color: white;
  border: 2px solid black;
  background-color: black;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  align-items: flex-end;
}

.sharp p {
  margin-top: 80px;
}

.hidden {
  display: none;
}

.welcome {
  text-align: center;
  margin-top: 200px;
}

.octavizer {
  width: 500px;
  margin: auto;
}

.octave-keys {
  display: inline-block;
  margin: 20px;
}

.octave-display {
  display: inline-block;
}

.keyboard-key {
  width: 40px;
}

.a {
  background-color: #FF0000;
}

.w {
  background-color: #ffb3ba;
}

.s {
  background-color: #FF7F00;
}

.e {
  background-color: #ffdfba;
}

.d {
  background-color: #FFFF00;
}

.f {
  background-color: #00FF00;
}

.t {
  background-color: #ffffba;
}

.g {
  background-color: #0000FF
}

.y {
  background-color: #baffc9;
}

.h {
  background-color: #4B0082;
}

.u {
  background-color: #bae1ff;
}

.j {
  background-color: #FF0000;
}

.k {
  background-color: #9400D3;
}
